<!DOCTYPE html>
<html>
<head>
    <title>Radiology Report</title>
    <link rel="stylesheet" type="text/css" href="./styles.css">
</head>
<body>
    <div class="report-container">
        <header class="report-header">
            <img src="https://i.postimg.cc/3wRRZ5Yt/1.png" alt="Radiology Center Logo" class="center-logo">
            <h1 class="center-name">Radiology Center Name</h1>
        </header>
        <div class="patient-info">
            <h2>Patient Name: [Patient Name]</h2>
            <p>Age: [Patient Age]</p>
            <p>Doctor: [Doctor's Name]</p>
            <p>Radiology Type: [Radiology Type]</p>
        </div>
        <div class="findings">
            <h2>Findings</h2>

        </div>
    </div>
</body>
</html>